// Fonts
$font-family-heading: 'Inter';
$font-family-body: 'Nunito Sans';
$font-weight-heading: 900;
$font-weight-body: 400;
$font-weight-strong: 600;

// Colors - Text
$color-text-heading: #fff;
$color-text-body: #c4c4c4;
$color-text-body-alt: #262626;

// Colors - Branding
$color-brand: #ff00f6;
$color-accent-1: #28B5FF;
$color-accent-2: #32ffcc;

// Colors - Grays
$color-gray-1: #f7f7f7; // 97%
$color-gray-2: #f2f2f2; // 95%
$color-gray-3: #e6e6e6; // 90%
$color-gray-4: #d9d9d9; // 85%
$color-gray-5: #cccccc; // 80%
$color-gray-6: #aaaaaa; // 67%
