/* Checklist - Color
------------------------------------------------------------- */
// https://stackoverflow.com/questions/25477819/scss-variable-in-background-image-with-svg-image-data-uri
@function url-color($color) {
  @return '%23' + str-slice('#{$color}', 2, -1)
}

$checklist-color: $color-brand;


/* Checklist - CSS
------------------------------------------------------------- */
.checklist {
  list-style: none;
  padding: 0;
}
.checklist li {
  color: $color-text-heading;
}
.checklist li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-color($checklist-color)}' class='checklist-icon' viewBox='0 0 34.875 34.875'%3E%3Cpath data-name='Icon awesome-check-circle' d='M34.875 17.437A17.438 17.438 0 1117.437 0a17.437 17.437 0 0117.438 17.437zM15.42 26.67l12.938-12.933a1.125 1.125 0 000-1.591l-1.591-1.595a1.125 1.125 0 00-1.591 0L14.625 21.102l-4.926-4.926a1.125 1.125 0 00-1.591 0l-1.592 1.59a1.125 1.125 0 000 1.591l7.313 7.313a1.125 1.125 0 001.591 0z'/%3E%3C/svg%3E");
  width: 1.3em;
  margin-right: 0.5em;
  vertical-align: text-top;
}
