/* Metrics
------------------------------------------------------------- */
.metrics {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  margin-bottom: 1rem;
}
.metrics p {
  font-family: $font-family-heading;
  font-size: 1.2rem;
  font-weight: $font-weight-heading;
  line-height: 1;
  color: $color-brand;
  margin-bottom: 0;
}
